# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List common libraries used in Data Science
* How to use Jupyter in general

Some of the popular languages that Data Scientists use are:
1. R
2. Phyton
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. PyTorch
2. Pandas
3. Numpy

| Data Science Tools |
|--------|
| Jupyter|
| Python |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ivan Lima